/* Общие стили */

.center {
    text-align: center
}

.width-full {
    width: 100%;
}

.break-20 {
    margin-bottom: 20px !important;
}

.break-50 {
    margin-bottom: 50px !important;
}

.padding-10 {
    padding: 10px;
}

.top-space-small {
    margin-top: 20px;
}

.top-space {
    margin-top: 50px;
}

.gray-box {
    margin-top: 5px;
    padding: 10px;
    background-color: #e3e3e3;
}

/* Форма создания стратегий */

div#strategy input, div#strategy select {
    margin-left: 10px;
}

div#strategy div {
    margin-bottom: 5px;
}

div#strategy-signals div.signal-indicator div {
    display: inline;
}

div.form-error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.login {
    margin-top: 50px;
}

div.login input {
    display: block;
}

/* Форма создания торговых счетов */
div#account input, div#account select {
    margin-left: 10px;
}

div#account div {
    margin-bottom: 5px;
}

/* Таблица сделок */
table#trades-list tr {
    border: white 5px solid;
}

table.list td {
    padding: 10px;
}

/* Сделка с прибылью */
table#trades-list tr.green {
    background-color: #a1f7a1;
}

/* Сделка с убытком */
table#trades-list tr.red {
    background-color: #fdd4d4;
}

/* График бэктеста */
canvas#chart-backtest {
    position: absolute;
    right: 10px;
}
