{% extends ':Default:layout.html.twig' %}

{% block title %}Создание торгового счета{% endblock title %}

{% block content %}

    {{ form_start(form) }}

    <p>Страница создания торгового счета</p>

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock content %}
