{% extends 'RottenwoodBarchartBundle:Default:layout.html.twig' %}

{% block title %}Создание торгового счета{% endblock title %}

{% block content %}

    <p>Страница создания торгового счета</p>

{% endblock content %}
