<div>
    <hr/>
    <p><a href="{{ path('index') }}">Главная страница</a></p>
    <p><a href="{{ path('analitic.cabinet') }}">Личный кабинет</a></p>
    <p><a href="{{ path('strategy.rating') }}">Рейтинг открытых стратегий</a></p>
</div>
