<div>
    <div class="break-20"></div>
    <p><a href="{{ path('rottenwood_barchart_default_index') }}">Главная страница</a></p>
    <p><a href="{{ path('fos_user_security_logout') }}">Выход</a></p>
</div>
