{% extends ':Default:layout.html.twig' %}

{% if analitic %}
    {% block title %}Личный кабинет аналитика: {{ analitic.username }}{% endblock title %}
{% endif %}

{% block content %}

    <p>Личный кабинет аналитика: <strong>{{ analitic.username }}</strong></p>

{% endblock content %}
