{% extends ':Default:layout.html.twig' %}

{% if analitic %}
    {% block title %}Кабинет аналитика: {{ analitic.name }}{% endblock title %}
{% endif %}

{% block content %}

    {% if analitic %}
        <div class="row">
            <div class="col-md-offset-1 col-md-11 top-space">
                <p>Кабинет аналитика: <strong>{{ analitic.name }}</strong></p>

            </div>
        </div>
    {% endif %}

{% endblock content %}
