{% extends ':Default:layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11 top-space">
                <p>Главная страница</p>

                <p><a href="{{ path('strategy.create') }}">Создание новой стратегии</a></p>

                {% if haveStrategies %}
                    <p><a href="{{ path('strategy.list') }}">Список ваших стратегий</a></p>
                    <p><a href="{{ path('account.create') }}">Создание нового торгового
                            счета</a></p>
                    {% if haveAccounts %}
                        <p><a href="{{ path('account.list') }}">Список торговых счетов</a></p>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
