{% extends 'RottenwoodBarchartBundle:Default:layout.html.twig' %}

{% block content %}

    <p>Главная страница</p>
    <p><a href="{{ path('rottenwood_barchart_default_makestrategy') }}">Создание стратегий</a></p>

{% endblock content %}
